{% set parent = 'base.html.twig' %}
{% if app.user.role.name == "MEDECIN" %}
    {% set parent = 'base_doctor.html.twig' %}
{% elseif app.user.role.name == "LABORATOIRE" %}
    {% set parent = 'base_laboratory.html.twig' %}
{% endif %}
{%extends parent %}

{% block title %}Nouveau examen{% endblock %}

{% block body %}
    <div id="author" style="display: none">{{ app.user.surname }} {{ app.user.lastname }}</div>
    <div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-lg-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('main_index') }}">Accueil</a></li>
                        <li class="breadcrumb-item active">Demande d'examen</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h1 class="text-center">Demander un examen</h1>

                {{ include('exam/_form.html.twig') }}

                <a href="{{ path('main_index') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset("js/exam_new.js") }}'></script>
{% endblock %}