{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Acte{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="text-center">Acte</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Patient</th>
                            <td>{{ act.dmp.surname }} {{ act.dmp.name }}<br>{{ act.dmp.socialNumber }}</td>
                        </tr>
                        <tr>
                            <th>Date de creation</th>
                            <td>{{ act.dateCreation ? act.dateCreation|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Etat</th>
                            <td>{{ act.state ? 'Terminé' : 'En cours' }}</td>
                        </tr>
                        <tr>
                            <th>Fichiers attaché a cet acte</th>
                            <td>
                                {% for file in act.Files %}
                                    <a  href="{{ path('file_show', {'id': file.id}) }}" target="_blank">{{ file.name }}</a> <br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Options</th>
                            <td>
                                <a href="{{ path("file_new") }}">Ajouter un fichier</a><br>
                                <a href="{{ path('acts_edit', {'id': act.id}) }}">Modifier</a>
                            </td>
                        </tr>

                    </tbody>
                </table>                

                <a href="{{ path('acts_index') }}">Retour à la liste</a>                

                {{ include('acts/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
