{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Personnel index{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="text-center">Liste du personnel</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for personnal in personnals %}
                        <tr>
                            <td>{{ personnal.id }}</td>
                            <td>{{ personnal.surname }}</td>
                            <td>{{ personnal.lastname }}</td>
                            <td>{{ personnal.email }}</td>
                            <td>{{ personnal.password }}</td>
                            <td>
                                <a href="{{ path('personnal_show', {'id': personnal.id}) }}">Voir</a> /
                                <a href="{{ path('personnal_edit', {'id': personnal.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('personnal_new') }}">Nouveau</a>
            </div>
        </div>
    </div>
{% endblock %}
