{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Nouveau personnel{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
			    <h1 class="text-center">Ajouter nouveau personnel</h1>

			    {{ include('personnal/_form.html.twig') }}

			    <a href="{{ path('personnal_index') }}">Retour à la liste</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	<script type="text/javascript">
		$("#personnal_specialization").select2();
	</script>
{% endblock %}