{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Personnel{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="text-center">Personnel</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ personnal.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ personnal.surname }}</td>
                        </tr>
                        <tr>
                            <th>Prénom</th>
                            <td>{{ personnal.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ personnal.email }}</td>
                        </tr>
                        <tr>
                            <th>Rôle</th>
                            <td>{{ personnal.role.name|capitalize }}</td>
                        </tr>
                        <tr>
                            <th>Lieu de travail</th>
                            <td>{{ (personnal.hospitalnode)? personnal.hospitalnode.name : "A définir" }}</td>
                        </tr>
                        {% if personnal.role.name == "MEDECIN" or personnal.role.name == "LABORATOIRE"
                            and personnal.specialization %}
                        <tr>
                            <th>Spécialisations</th>
                            <td>
                                {% for spe in personnal.specialization %}
                                    {{ spe.name }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

                <a href="{{ path('personnal_index') }}">Retour à la liste</a> <br>

                <a href="{{ path('personnal_edit', {'id': personnal.id}) }}">Modifier</a>

                {{ include('personnal/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
