{% set parent = 'base.html.twig' %}
{% if app.user.role.name == "DATA_ADMIN" %}
    {% set parent = 'base_admin.html.twig' %}
{% endif %}
{%extends parent %}

{% block title %}{{ parent() }}Recherche{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 2%">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('main_index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Recherche personnel</li>
                  </ol>
                </nav>
                {% include("flashbag.html.twig") %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
            <h1 class="text-center">Recherche de personnel</h1>
            <a href={{ path("personnal_new") }}>Ajouter un membre</a>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </p>
                <form method="get" action="{{ path("admin_personnal_show") }}">
                    <div class="form-control">
                        <select name="personnal" class="custom-select custom-select-lg mb-3">
                            {% for personnal in personnals %}
                                <option value="{{ personnal.id }}">
                                    {{ personnal.surname }} {{ personnal.lastname }}
                                    - {{ personnal.role.name|capitalize }}
                                </option>
                            {% endfor %}
                        </select>
                    </div><br>
                    <button class="btn btn-primary" type="submit">Confirmer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
