{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}DMP{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 2%;">
        {% if app.user.role.name == "MEDECIN" %}
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('main_index') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('doctor_search') }}">Recherche DMP</a></li>
                        <li class="breadcrumb-item active"><a href="{{ path("dmp_show", {"id": dmp.id}) }}">Voir DMP</a></li>
                        <li class="breadcrumb-item active">Voir actes</li>
                      </ol>
                    </nav>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Actes reliés au DMP n°{{ dmp.socialNumber }}</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Auteur</th>
                            <th>Etat</th>
                            <th>Contenu</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for act in acts %} {# Check if act unfinished is from same author #}
                        {% if act.author.id == app.user.id or act.state == 1 %}
                            {% set correct = 1 %}
                        {% else %}
                            {% set correct = 0 %}
                        {% endif %}
                        {% if correct %}
                            <tr>
                                <td>{{ act.author.lastname }}</td>
                                <td>{{ act.state ? 'Terminé' : 'En cours' }}</td>
                                <td>
                                    <a href="{{ path('acts_show', {'id': act.id}) }}">Voir</a><br>
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun examens trouvés</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('dmp_show', {"id": dmp.id}) }}">Retour</a><br>

                {# {{ include('dmp/_delete_form.html.twig') }} #}
            </div>
        </div>
    </div>
    

    
{% endblock %}
