{% set parent = 'base.html.twig' %}
{% if app.user.role.name == "SECRETAIRE" %}
    {% set parent = 'base_secretary.html.twig' %}
{% elseif app.user.role.name == "MEDECIN" %}
    {% set parent = 'base_doctor.html.twig' %}
{% endif %}
{%extends parent %}


{% block title %}{{ parent() }}Modifier DMP{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top: 2%;">
        {% if app.user.role.name == "MEDECIN" %}
            <div class="row">
                <div class="col-lg-10">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('main_index') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('doctor_search') }}">Recherche DMP</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('dmp_show', {id: dmp.id}) }}">Voir DMP</a></li>
                        <li class="breadcrumb-item active">Modifier DMP</li>
                      </ol>
                    </nav>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
            	<h1>Modifier DMP</h1>

            	{{ include('dmp/_form.html.twig', {'button_label': 'Modifier'}) }}

            	<a href="{{ path('dmp_show', {id: dmp.id}) }}">Retour au DMP</a>

            	{# {{ include('dmp/_delete_form.html.twig') }} #}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        /*$("#dmp_socialNumber").prop("readonly", true);*/
        $("#dmp_nodeManaging").prepend($('<option>', {value:null, text:''}));;
    </script>
{% endblock %}
