{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}DMP index{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="text-center">DMP index</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Numéro de sécurité social</th>
                            <th>Date de naissance</th>
                            <th>Lieu de naissance</th>
                            <th>Adresse</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for dmp in DMPs %}
                        <tr>
                            <td>{{ dmp.id }}</td>
                            <td>{{ dmp.surname }}</td>
                            <td>{{ dmp.name }}</td>
                            <td>{{ dmp.socialNumber }}</td>
                            <td>{{ dmp.birthDate ? dmp.birthDate|date('Y-m-d') : '' }}</td>
                            <td>{{ dmp.birthPlace }}</td>
                            <td>{{ dmp.address|replace({'\n': " ",}) }}</td>
                            <td>
                                <a href="{{ path('dmp_show', {'id': dmp.id}) }}">Voir</a> /
                                <a href="{{ path('dmp_edit', {'id': dmp.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('dmp_new') }}">Nouveau</a>
            </div>
        </div>
    </div>
    
{% endblock %}
