{% extends 'base.html.twig' %}

{% block title %}DMP{% endblock %}

{% block body %}
    <h1>DMP</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dmp.id }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ dmp.surname }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ dmp.name }}</td>
            </tr>
            <tr>
                <th>SocialNumber</th>
                <td>{{ dmp.socialNumber }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ dmp.birthDate ? dmp.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>BirthPlace</th>
                <td>{{ dmp.birthPlace }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ dmp.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dmp_index') }}">back to list</a>

    <a href="{{ path('dmp_edit', {'id': dmp.id}) }}">edit</a>

    {{ include('dmp/_delete_form.html.twig') }}
{% endblock %}
