{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Structure index{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('main_index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Structures</li>
                  </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="text-center">Structure index</h1>
                {% include 'flashbag.html.twig' %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Type</th>
                            <th>Responsable</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for hospital_node in hospital_nodes %}
                        <tr>
                            <td>{{ hospital_node.id }}</td>
                            <td>{{ hospital_node.name }}</td>
                            <td>{{ hospital_node.typeNode.name|capitalize }}</td>
                            <td>{{ hospital_node.responsible.email }}</td>
                            <td>
                                <a href="{{ path('hospital_node_show', {'id': hospital_node.id}) }}">Voir</a> /
                                <a href="{{ path('hospital_node_edit', {'id': hospital_node.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Retour à la liste</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('hospital_node_new') }}">Nouvelle structure</a>
            </div>
        </div>
    </div>
{% endblock %}
